:root {
  font-size: 14px !important;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;

  // VARIABLES
  --blackish-green: #2a765a;
  --acid-blue: #168684;

  --main-border-color: #f4f4f4;

  --forward-icon-color: #808080;
  --sub-text-color: #808080;

  --white: #ffffff;
  --black: #000000;
}
